///
/// Polymorph by Pixelarity
/// pixelarity.com @pixelarity
/// License: pixelarity.com/license
///

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		@include vendor('appearance', 'none');
		@include vendor('transition', 'background-color #{_duration(transition)} ease-in-out, color #{_duration(transition)} ease-in-out');
		border-radius: 0;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-weight: _font(weight-bold);
		height: _size(element-height) / 0.8;
		line-height: _size(element-height) / 0.8;
		padding: 0 2em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
		text-transform: uppercase;
		font-size: 0.8em;
		letter-spacing: _font(letter-spacing-heading);

		&.icon {
			padding-left: 1.35em;

			&:before {
				margin-right: 0.5em;
			}
		}

		&.fit {
			display: block;
			margin: 0 0 (_size(element-margin) * 0.5) 0;
			width: 100%;
		}

		&.small {
			font-size: 0.8em;
		}

		&.big {
			font-size: 1.35em;
		}

		&.disabled,
		&:disabled {
			@include vendor('pointer-events', 'none');
			opacity: 0.25;
		}

		@include breakpoint(xsmall) {
			padding: 0;
		}
	}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button {
		line-height: (_size(element-height) / 0.8) * 0.9;
	}

	@mixin color-button($p: null) {
		input[type="submit"],
		input[type="reset"],
		input[type="button"],
		button,
		.button {
			background-color: transparent;
			box-shadow: inset 0 0 0 1px _palette($p, border);
			color: _palette($p, fg-bold) !important;

			&:hover {
				background-color: _palette($p, border-bg);
				color: inherit !important;
			}

			&:active {
				background-color: _palette($p, border2-bg);
			}

			&.special {
				box-shadow: none;

				background-color: _palette($p, fg-bold);
				color: _palette($p, bg) !important;

				&:hover {
					background-color: lighten(_palette($p, fg-bold), 5);
				}

				&:active {
					background-color: darken(_palette($p, fg-bold), 5);
				}
			}
		}
	}

	@include color-button;