///
/// Polymorph by Pixelarity
/// pixelarity.com @pixelarity
/// License: pixelarity.com/license
///

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 _size(element-margin) 0;
		padding-left: 1.25em;

		li {
			padding-left: 0.25em;
		}
	}

	ul {
		list-style: disc;
		margin: 0 0 _size(element-margin) 0;
		padding-left: 1em;

		li {
			padding-left: 0.5em;
		}

		&.alt {
			list-style: none;
			padding-left: 0;

			li {
				border-top: solid 1px;
				padding: 0.5em 0;

				&:first-child {
					border-top: 0;
					padding-top: 0;
				}
			}
		}

		&.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;

			li {
				display: inline-block;
				padding: 0 1em 0 0;

				&:last-child {
					padding-right: 0 !important;
				}
			}

			&.style1 {
			}

			&.style2 {
				li {
					font-size: 1.35em;
					padding: 0 0.5em 0 0;

					a {
						@include vendor('transition', 'background-color #{_duration(transition)} ease-in-out, color #{_duration(transition)} ease-in-out');
						display: inline-block;
						border-radius: 100%;
						width: 2.125em;
						height: 2.125em;
						line-height: 2.125em;
						text-align: center;
						background-color: _palette(fg-bold);
						color: _palette(bg) !important;

						&:hover {
							background-color: lighten(_palette(fg-bold), 5);
						}

						&:active {
							background-color: darken(_palette(fg-bold), 5);
						}

						&:before {
							color: inherit !important;
						}

						&.fa-twitter {
							background-color: _palette(twitter, bg);
							color: _palette(twitter, fg) !important;

							&:hover {
								background-color: lighten(_palette(twitter, bg), 5);
							}

							&:active {
								background-color: darken(_palette(twitter, bg), 5);
							}
						}

						&.fa-facebook {
							background-color: _palette(facebook, bg);
							color: _palette(facebook, fg) !important;

							&:hover {
								background-color: lighten(_palette(facebook, bg), 5);
							}

							&:active {
								background-color: darken(_palette(facebook, bg), 5);
							}
						}

						&.fa-instagram {
							background-color: _palette(instagram, bg);
							color: _palette(instagram, fg) !important;

							&:hover {
								background-color: lighten(_palette(instagram, bg), 5);
							}

							&:active {
								background-color: darken(_palette(instagram, bg), 5);
							}
						}

						&.fa-youtube {
							background-color: _palette(youtube, bg);
							color: _palette(youtube, fg) !important;

							&:hover {
								background-color: lighten(_palette(youtube, bg), 5);
							}

							&:active {
								background-color: darken(_palette(youtube, bg), 5);
							}
						}
					}
				}
			}
		}

		&.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;

			li {
				display: inline-block;
				padding: 0 (_size(element-margin) * 0.5) 0 0;
				vertical-align: middle;

				&:last-child {
					padding-right: 0;
				}
			}

			&.small {
				li {
					padding: 0 (_size(element-margin) * 0.25) 0 0;
				}
			}

			&.vertical {
				li {
					display: block;
					padding: (_size(element-margin) * 0.5) 0 0 0;

					&:first-child {
						padding-top: 0;
					}

					> * {
						margin-bottom: 0;
					}
				}

				&.small {
					li {
						padding: (_size(element-margin) * 0.25) 0 0 0;

						&:first-child {
							padding-top: 0;
						}
					}
				}
			}

			&.fit {
				display: table;
				margin-left: (_size(element-margin) * -0.5);
				padding: 0;
				table-layout: fixed;
				width: calc(100% + #{(_size(element-margin) * 0.5)});

				li {
					display: table-cell;
					padding: 0 0 0 (_size(element-margin) * 0.5);

					> * {
						margin-bottom: 0;
					}
				}

				&.small {
					margin-left: (_size(element-margin) * -0.25);
					width: calc(100% + #{(_size(element-margin) * 0.25)});

					li {
						padding: 0 0 0 (_size(element-margin) * 0.25);
					}
				}
			}

			@include breakpoint(xsmall) {
				margin: 0 0 _size(element-margin) 0;

				li {
					padding: (_size(element-margin) * 0.5) 0 0 0;
					display: block;
					text-align: center;
					width: 100%;

					&:first-child {
						padding-top: 0;
					}

					> * {
						width: 100%;
						margin: 0 !important;

						&.icon {
							&:before {
								margin-left: -2em;
							}
						}
					}
				}

				&.small {
					li {
						padding: (_size(element-margin) * 0.25) 0 0 0;

						&:first-child {
							padding-top: 0;
						}
					}
				}
			}
		}

		&.meta {
			cursor: default;
			list-style: none;
			padding: 0;

			li {
				display: inline-block;
				font-size: 0.8em;
				font-weight: _font(weight-bold);
				letter-spacing: _font(letter-spacing-heading);
				margin: 0 0 (_size(element-margin) * 0.5) 0;
				text-transform: uppercase;
				border-left: solid 1px;
				padding: 0 0 0 1.25em;
				margin: 0 0 0 1.25em;
				line-height: 1;

				a {
					color: inherit;
					text-decoration: none;
					border-bottom: 0;
					@include icon;

					&:before {
						margin-right: 0.65em;
					}

					&.favorites {
						&:before {
							content: '\f08a';
						}
					}

					&.comments {
						&:before {
							content: '\f0e5';
						}
					}
				}

				&:first-child {
					padding-left: 0;
					margin-left: 0;
					border-left: 0;
				}
			}

			h1 + &,
			h2 + &,
			h3 + &,
			h4 + &,
			h5 + &,
			h6 + & {
				margin: (_size(element-margin) * -0.35) 0 (_size(element-margin) * 0.75) 0;
			}
		}

		&.pagination {
			@include vendor('display', 'inline-flex');
			list-style: none;
			padding: 0;
			border: solid 1px;
			margin: 0 auto _size(element-margin) auto;
			cursor: default;

			li {
				padding: 0;

				a, span {
					position: relative;
					border-left: solid 1px;
					display: inline-block;
					font-size: 0.8em;
					min-width: ((_size(element-height) / 0.8) * 1.1);
					height: (_size(element-height) / 0.8);
					line-height: (_size(element-height) / 0.8);
					text-align: center;
					text-transform: uppercase;
					font-weight: bold;
					letter-spacing: _font(letter-spacing-heading);
					text-decoration: none;
					border-bottom: 0;
				}

				a {
					@include vendor('transition', (
						'background-color #{_duration(transition)} ease-in-out',
						'color #{_duration(transition)} ease-in-out'
					));
				}

				.next, .previous {
					@include icon;
					padding: 0 (1.75em / 0.8);

					&:before {
						display: inline-block;
						line-height: (_size(element-height) / 0.8) * 1.05875;
						color: inherit !important;
					}
				}

				.previous {
					&:before {
						content: '\f053';
						margin-right: (0.75em / 0.8);
					}
				}

				.next {
					&:before {
						content: '\f054';
						float: right;
						margin-left: (0.75em / 0.8);
					}
				}

				&:first-child {
					a {
						border-left: 0;
					}
				}
			}

			@include breakpoint(xsmall) {
				li {
					.page, .extra {
						display: none;
					}
				}
			}
		}
	}

	dl {
		margin: 0 0 _size(element-margin) 0;

		dt {
			display: block;
			font-weight: _font(weight-bold);
			margin: 0 0 (_size(element-margin) * 0.5) 0;
		}

		dd {
			margin-left: _size(element-margin);
		}
	}

	@mixin color-list($p: null) {
		ul {
			&.alt {
				li {
					border-top-color: _palette($p, border);
				}
			}

			&.icons {
				&.style1 {
					li {
						a {
							color: _palette($p, fg-light);
						}
					}
				}
			}

			&.meta {
				color: _palette($p, fg-light);

				li {
					border-left-color: _palette($p, border);
				}
			}

			&.pagination {
				border-color: _palette($p, border);

				li {
					a, span {
						border-left-color: _palette($p, border2);
					}

					a {
						color: _palette($p, fg-bold) !important;

						&:hover {
							background-color: _palette($p, border-bg);
						}

						&:active {
							background-color: _palette($p, border2-bg);
						}

						&.active {
							color: _palette($p, bg) !important;
							box-shadow: 0 0 0 1px _palette($p, fg-bold);
							background-color: _palette($p, fg-bold);
							border-left-color: _palette($p, fg-bold);
							z-index: 1;
						}
					}

					span {
						color: _palette($p, fg-light);
					}
				}
			}
		}
	}

	@include color-list;