///
/// Polymorph by Pixelarity
/// pixelarity.com @pixelarity
/// License: pixelarity.com/license
///

/* Nav */

	#wrapper {
		&:before {
			@include vendor('transition', (
				'opacity #{_duration(navPanel)} ease',
				'visibility #{_duration(navPanel)}'
			));
			content: '';
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			background: _palette(fg-bold);
			z-index: _misc(z-index-base) + 1;
			opacity: 0;
			visibility: hidden;
		}
	}

	#navPanel {
		@include vendor('transform', 'translateX(#{_size(navPanel)})');
		@include vendor('transition', (
			'transform #{_duration(navPanel)} ease',
			'visibility #{_duration(navPanel)}'
		));
		-webkit-overflow-scrolling: touch;
		background: _palette(bg);
		color: _palette(fg-bold);
		height: 100%;
		max-width: 80%;
		overflow-y: auto;
		padding: _size(gutter);
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		width: #{_size(navPanel)};
		z-index: _misc(z-index-base) + 2;

		.link {
			border: 0;
			border-top: solid 1px _palette(border2);
			color: inherit !important;
			display: block;
			font-size: 0.9em;
			padding: 0.75em 0;

			&:first-child {
				border-top: 0;
			}

			&.depth-0 {
				font-weight: _font(weight-heading-bold);
				color: inherit !important;
			}

			.indent-1 { display: inline-block; width: 1.25em; }
			.indent-2 { display: inline-block; width: 2.5em; }
			.indent-3 { display: inline-block; width: 3.75em; }
			.indent-4 { display: inline-block; width: 5em; }
			.indent-5 { display: inline-block; width: 6.25em; }
		}

		.close {
			@include icon('\f00d');
			@include vendor('transition', 'color #{_duration(transition)} ease-in-out');
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			border: 0;
			color: _palette(fg-light);
			cursor: pointer;
			display: block;
			height: 3.25em;
			line-height: 3.25em;
			padding-right: 1.25em;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0;
			vertical-align: middle;
			width: 7em;

			&:before {
				font-size: 1.25em;
			}

			&:hover {
				color: _palette(accent2, fg-bold);
			}

			@include breakpoint(small) {
				height: 4em;
				line-height: 4em;
			}
		}

		@include breakpoint(medium) {
			padding: _size(gutter) _size(gutter-medium);
		}

		@include breakpoint(medium) {
			padding: _size(gutter-medium) _size(gutter-medium);
		}
	}

	body.is-menu-visible {
		#wrapper {
			&:before {
				@include vendor('pointer-events', 'auto');
				opacity: 0.75;
				visibility: visible;
			}
		}

		#navPanel {
			@include vendor('transform', 'translateX(0)');
			visibility: visible;
		}
	}