@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900,300italic,900italic");

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Grid */

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.\30 \25 > * {
		padding: 0 0 0 0em;
	}

	.row.\30 \25 {
		margin: 0 0 -1px 0em;
	}

	.row.uniform.\30 \25 > * {
		padding: 0em 0 0 0em;
	}

	.row.uniform.\30 \25 {
		margin: 0em 0 -1px 0em;
	}

	.row > * {
		padding: 0 0 0 2.75em;
	}

	.row {
		margin: 0 0 -1px -2.75em;
	}

	.row.uniform > * {
		padding: 2.75em 0 0 2.75em;
	}

	.row.uniform {
		margin: -2.75em 0 -1px -2.75em;
	}

	.row.\32 00\25 > * {
		padding: 0 0 0 5.5em;
	}

	.row.\32 00\25 {
		margin: 0 0 -1px -5.5em;
	}

	.row.uniform.\32 00\25 > * {
		padding: 5.5em 0 0 5.5em;
	}

	.row.uniform.\32 00\25 {
		margin: -5.5em 0 -1px -5.5em;
	}

	.row.\31 50\25 > * {
		padding: 0 0 0 4.125em;
	}

	.row.\31 50\25 {
		margin: 0 0 -1px -4.125em;
	}

	.row.uniform.\31 50\25 > * {
		padding: 4.125em 0 0 4.125em;
	}

	.row.uniform.\31 50\25 {
		margin: -4.125em 0 -1px -4.125em;
	}

	.row.\35 0\25 > * {
		padding: 0 0 0 1.375em;
	}

	.row.\35 0\25 {
		margin: 0 0 -1px -1.375em;
	}

	.row.uniform.\35 0\25 > * {
		padding: 1.375em 0 0 1.375em;
	}

	.row.uniform.\35 0\25 {
		margin: -1.375em 0 -1px -1.375em;
	}

	.row.\32 5\25 > * {
		padding: 0 0 0 0.6875em;
	}

	.row.\32 5\25 {
		margin: 0 0 -1px -0.6875em;
	}

	.row.uniform.\32 5\25 > * {
		padding: 0.6875em 0 0 0.6875em;
	}

	.row.uniform.\32 5\25 {
		margin: -0.6875em 0 -1px -0.6875em;
	}

	.\31 2u, .\31 2u\24 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}

	.\31 1u, .\31 1u\24 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 0u, .\31 0u\24 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\39 u, .\39 u\24 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}

	.\38 u, .\38 u\24 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\37 u, .\37 u\24 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}

	.\35 u, .\35 u\24 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\34 u, .\34 u\24 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}

	.\32 u, .\32 u\24 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 u, .\31 u\24 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\31 2u\24 + *,
	.\31 1u\24 + *,
	.\31 0u\24 + *,
	.\39 u\24 + *,
	.\38 u\24 + *,
	.\37 u\24 + *,
	.\36 u\24 + *,
	.\35 u\24 + *,
	.\34 u\24 + *,
	.\33 u\24 + *,
	.\32 u\24 + *,
	.\31 u\24 + * {
		clear: left;
	}

	.\-11u {
		margin-left: 91.66667%;
	}

	.\-10u {
		margin-left: 83.33333%;
	}

	.\-9u {
		margin-left: 75%;
	}

	.\-8u {
		margin-left: 66.66667%;
	}

	.\-7u {
		margin-left: 58.33333%;
	}

	.\-6u {
		margin-left: 50%;
	}

	.\-5u {
		margin-left: 41.66667%;
	}

	.\-4u {
		margin-left: 33.33333%;
	}

	.\-3u {
		margin-left: 25%;
	}

	.\-2u {
		margin-left: 16.66667%;
	}

	.\-1u {
		margin-left: 8.33333%;
	}

	@media screen and (max-width: 1680px) {

		.row > * {
			padding: 0 0 0 2.75em;
		}

		.row {
			margin: 0 0 -1px -2.75em;
		}

		.row.uniform > * {
			padding: 2.75em 0 0 2.75em;
		}

		.row.uniform {
			margin: -2.75em 0 -1px -2.75em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 5.5em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -5.5em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 5.5em 0 0 5.5em;
		}

		.row.uniform.\32 00\25 {
			margin: -5.5em 0 -1px -5.5em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 4.125em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -4.125em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 4.125em 0 0 4.125em;
		}

		.row.uniform.\31 50\25 {
			margin: -4.125em 0 -1px -4.125em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 1.375em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -1.375em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 1.375em 0 0 1.375em;
		}

		.row.uniform.\35 0\25 {
			margin: -1.375em 0 -1px -1.375em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.6875em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.6875em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.6875em 0 0 0.6875em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.6875em 0 -1px -0.6875em;
		}

		.\31 2u\28xlarge\29, .\31 2u\24\28xlarge\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28xlarge\29, .\31 1u\24\28xlarge\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28xlarge\29, .\31 0u\24\28xlarge\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28xlarge\29, .\39 u\24\28xlarge\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28xlarge\29, .\38 u\24\28xlarge\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28xlarge\29, .\37 u\24\28xlarge\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28xlarge\29, .\36 u\24\28xlarge\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28xlarge\29, .\35 u\24\28xlarge\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28xlarge\29, .\34 u\24\28xlarge\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28xlarge\29, .\33 u\24\28xlarge\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28xlarge\29, .\32 u\24\28xlarge\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28xlarge\29, .\31 u\24\28xlarge\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28xlarge\29 + *,
		.\31 1u\24\28xlarge\29 + *,
		.\31 0u\24\28xlarge\29 + *,
		.\39 u\24\28xlarge\29 + *,
		.\38 u\24\28xlarge\29 + *,
		.\37 u\24\28xlarge\29 + *,
		.\36 u\24\28xlarge\29 + *,
		.\35 u\24\28xlarge\29 + *,
		.\34 u\24\28xlarge\29 + *,
		.\33 u\24\28xlarge\29 + *,
		.\32 u\24\28xlarge\29 + *,
		.\31 u\24\28xlarge\29 + * {
			clear: left;
		}

		.\-11u\28xlarge\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28xlarge\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28xlarge\29 {
			margin-left: 75%;
		}

		.\-8u\28xlarge\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28xlarge\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28xlarge\29 {
			margin-left: 50%;
		}

		.\-5u\28xlarge\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28xlarge\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28xlarge\29 {
			margin-left: 25%;
		}

		.\-2u\28xlarge\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28xlarge\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 1280px) {

		.row > * {
			padding: 0 0 0 2.75em;
		}

		.row {
			margin: 0 0 -1px -2.75em;
		}

		.row.uniform > * {
			padding: 2.75em 0 0 2.75em;
		}

		.row.uniform {
			margin: -2.75em 0 -1px -2.75em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 5.5em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -5.5em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 5.5em 0 0 5.5em;
		}

		.row.uniform.\32 00\25 {
			margin: -5.5em 0 -1px -5.5em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 4.125em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -4.125em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 4.125em 0 0 4.125em;
		}

		.row.uniform.\31 50\25 {
			margin: -4.125em 0 -1px -4.125em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 1.375em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -1.375em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 1.375em 0 0 1.375em;
		}

		.row.uniform.\35 0\25 {
			margin: -1.375em 0 -1px -1.375em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.6875em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.6875em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.6875em 0 0 0.6875em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.6875em 0 -1px -0.6875em;
		}

		.\31 2u\28large\29, .\31 2u\24\28large\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28large\29, .\31 1u\24\28large\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28large\29, .\31 0u\24\28large\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28large\29, .\39 u\24\28large\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28large\29, .\38 u\24\28large\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28large\29, .\37 u\24\28large\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28large\29, .\36 u\24\28large\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28large\29, .\35 u\24\28large\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28large\29, .\34 u\24\28large\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28large\29, .\33 u\24\28large\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28large\29, .\32 u\24\28large\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28large\29, .\31 u\24\28large\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28large\29 + *,
		.\31 1u\24\28large\29 + *,
		.\31 0u\24\28large\29 + *,
		.\39 u\24\28large\29 + *,
		.\38 u\24\28large\29 + *,
		.\37 u\24\28large\29 + *,
		.\36 u\24\28large\29 + *,
		.\35 u\24\28large\29 + *,
		.\34 u\24\28large\29 + *,
		.\33 u\24\28large\29 + *,
		.\32 u\24\28large\29 + *,
		.\31 u\24\28large\29 + * {
			clear: left;
		}

		.\-11u\28large\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28large\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28large\29 {
			margin-left: 75%;
		}

		.\-8u\28large\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28large\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28large\29 {
			margin-left: 50%;
		}

		.\-5u\28large\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28large\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28large\29 {
			margin-left: 25%;
		}

		.\-2u\28large\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28large\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 980px) {

		.row > * {
			padding: 0 0 0 2em;
		}

		.row {
			margin: 0 0 -1px -2em;
		}

		.row.uniform > * {
			padding: 2em 0 0 2em;
		}

		.row.uniform {
			margin: -2em 0 -1px -2em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 4em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -4em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 4em 0 0 4em;
		}

		.row.uniform.\32 00\25 {
			margin: -4em 0 -1px -4em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 3em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -3em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 3em 0 0 3em;
		}

		.row.uniform.\31 50\25 {
			margin: -3em 0 -1px -3em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 1em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -1em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 1em 0 0 1em;
		}

		.row.uniform.\35 0\25 {
			margin: -1em 0 -1px -1em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.5em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.5em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.5em 0 0 0.5em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.5em 0 -1px -0.5em;
		}

		.\31 2u\28medium\29, .\31 2u\24\28medium\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28medium\29, .\31 1u\24\28medium\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28medium\29, .\31 0u\24\28medium\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28medium\29, .\39 u\24\28medium\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28medium\29, .\38 u\24\28medium\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28medium\29, .\37 u\24\28medium\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28medium\29, .\36 u\24\28medium\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28medium\29, .\35 u\24\28medium\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28medium\29, .\34 u\24\28medium\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28medium\29, .\33 u\24\28medium\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28medium\29, .\32 u\24\28medium\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28medium\29, .\31 u\24\28medium\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28medium\29 + *,
		.\31 1u\24\28medium\29 + *,
		.\31 0u\24\28medium\29 + *,
		.\39 u\24\28medium\29 + *,
		.\38 u\24\28medium\29 + *,
		.\37 u\24\28medium\29 + *,
		.\36 u\24\28medium\29 + *,
		.\35 u\24\28medium\29 + *,
		.\34 u\24\28medium\29 + *,
		.\33 u\24\28medium\29 + *,
		.\32 u\24\28medium\29 + *,
		.\31 u\24\28medium\29 + * {
			clear: left;
		}

		.\-11u\28medium\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28medium\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28medium\29 {
			margin-left: 75%;
		}

		.\-8u\28medium\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28medium\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28medium\29 {
			margin-left: 50%;
		}

		.\-5u\28medium\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28medium\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28medium\29 {
			margin-left: 25%;
		}

		.\-2u\28medium\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28medium\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 736px) {

		.row > * {
			padding: 0 0 0 1em;
		}

		.row {
			margin: 0 0 -1px -1em;
		}

		.row.uniform > * {
			padding: 1em 0 0 1em;
		}

		.row.uniform {
			margin: -1em 0 -1px -1em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 2em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -2em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 2em 0 0 2em;
		}

		.row.uniform.\32 00\25 {
			margin: -2em 0 -1px -2em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 1.5em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -1.5em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 1.5em 0 0 1.5em;
		}

		.row.uniform.\31 50\25 {
			margin: -1.5em 0 -1px -1.5em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 0.5em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -0.5em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 0.5em 0 0 0.5em;
		}

		.row.uniform.\35 0\25 {
			margin: -0.5em 0 -1px -0.5em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.25em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.25em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.25em 0 0 0.25em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.25em 0 -1px -0.25em;
		}

		.\31 2u\28small\29, .\31 2u\24\28small\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28small\29, .\31 1u\24\28small\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28small\29, .\31 0u\24\28small\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28small\29, .\39 u\24\28small\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28small\29, .\38 u\24\28small\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28small\29, .\37 u\24\28small\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28small\29, .\36 u\24\28small\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28small\29, .\35 u\24\28small\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28small\29, .\34 u\24\28small\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28small\29, .\33 u\24\28small\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28small\29, .\32 u\24\28small\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28small\29, .\31 u\24\28small\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28small\29 + *,
		.\31 1u\24\28small\29 + *,
		.\31 0u\24\28small\29 + *,
		.\39 u\24\28small\29 + *,
		.\38 u\24\28small\29 + *,
		.\37 u\24\28small\29 + *,
		.\36 u\24\28small\29 + *,
		.\35 u\24\28small\29 + *,
		.\34 u\24\28small\29 + *,
		.\33 u\24\28small\29 + *,
		.\32 u\24\28small\29 + *,
		.\31 u\24\28small\29 + * {
			clear: left;
		}

		.\-11u\28small\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28small\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28small\29 {
			margin-left: 75%;
		}

		.\-8u\28small\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28small\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28small\29 {
			margin-left: 50%;
		}

		.\-5u\28small\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28small\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28small\29 {
			margin-left: 25%;
		}

		.\-2u\28small\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28small\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 480px) {

		.row > * {
			padding: 0 0 0 1em;
		}

		.row {
			margin: 0 0 -1px -1em;
		}

		.row.uniform > * {
			padding: 1em 0 0 1em;
		}

		.row.uniform {
			margin: -1em 0 -1px -1em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 2em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -2em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 2em 0 0 2em;
		}

		.row.uniform.\32 00\25 {
			margin: -2em 0 -1px -2em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 1.5em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -1.5em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 1.5em 0 0 1.5em;
		}

		.row.uniform.\31 50\25 {
			margin: -1.5em 0 -1px -1.5em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 0.5em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -0.5em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 0.5em 0 0 0.5em;
		}

		.row.uniform.\35 0\25 {
			margin: -0.5em 0 -1px -0.5em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.25em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.25em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.25em 0 0 0.25em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.25em 0 -1px -0.25em;
		}

		.\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28xsmall\29, .\31 1u\24\28xsmall\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28xsmall\29, .\31 0u\24\28xsmall\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28xsmall\29, .\39 u\24\28xsmall\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28xsmall\29, .\38 u\24\28xsmall\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28xsmall\29, .\37 u\24\28xsmall\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28xsmall\29, .\36 u\24\28xsmall\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28xsmall\29, .\35 u\24\28xsmall\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28xsmall\29, .\34 u\24\28xsmall\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28xsmall\29, .\33 u\24\28xsmall\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28xsmall\29, .\32 u\24\28xsmall\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28xsmall\29, .\31 u\24\28xsmall\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28xsmall\29 + *,
		.\31 1u\24\28xsmall\29 + *,
		.\31 0u\24\28xsmall\29 + *,
		.\39 u\24\28xsmall\29 + *,
		.\38 u\24\28xsmall\29 + *,
		.\37 u\24\28xsmall\29 + *,
		.\36 u\24\28xsmall\29 + *,
		.\35 u\24\28xsmall\29 + *,
		.\34 u\24\28xsmall\29 + *,
		.\33 u\24\28xsmall\29 + *,
		.\32 u\24\28xsmall\29 + *,
		.\31 u\24\28xsmall\29 + * {
			clear: left;
		}

		.\-11u\28xsmall\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28xsmall\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28xsmall\29 {
			margin-left: 75%;
		}

		.\-8u\28xsmall\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28xsmall\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28xsmall\29 {
			margin-left: 50%;
		}

		.\-5u\28xsmall\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28xsmall\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28xsmall\29 {
			margin-left: 25%;
		}

		.\-2u\28xsmall\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28xsmall\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 360px) {

		.row > * {
			padding: 0 0 0 1em;
		}

		.row {
			margin: 0 0 -1px -1em;
		}

		.row.uniform > * {
			padding: 1em 0 0 1em;
		}

		.row.uniform {
			margin: -1em 0 -1px -1em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 2em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -2em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 2em 0 0 2em;
		}

		.row.uniform.\32 00\25 {
			margin: -2em 0 -1px -2em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 1.5em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -1.5em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 1.5em 0 0 1.5em;
		}

		.row.uniform.\31 50\25 {
			margin: -1.5em 0 -1px -1.5em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 0.5em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -0.5em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 0.5em 0 0 0.5em;
		}

		.row.uniform.\35 0\25 {
			margin: -0.5em 0 -1px -0.5em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.25em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.25em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.25em 0 0 0.25em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.25em 0 -1px -0.25em;
		}

		.\31 2u\28xxsmall\29, .\31 2u\24\28xxsmall\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28xxsmall\29, .\31 1u\24\28xxsmall\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28xxsmall\29, .\31 0u\24\28xxsmall\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28xxsmall\29, .\39 u\24\28xxsmall\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28xxsmall\29, .\38 u\24\28xxsmall\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28xxsmall\29, .\37 u\24\28xxsmall\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28xxsmall\29, .\36 u\24\28xxsmall\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28xxsmall\29, .\35 u\24\28xxsmall\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28xxsmall\29, .\34 u\24\28xxsmall\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28xxsmall\29, .\33 u\24\28xxsmall\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28xxsmall\29, .\32 u\24\28xxsmall\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28xxsmall\29, .\31 u\24\28xxsmall\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28xxsmall\29 + *,
		.\31 1u\24\28xxsmall\29 + *,
		.\31 0u\24\28xxsmall\29 + *,
		.\39 u\24\28xxsmall\29 + *,
		.\38 u\24\28xxsmall\29 + *,
		.\37 u\24\28xxsmall\29 + *,
		.\36 u\24\28xxsmall\29 + *,
		.\35 u\24\28xxsmall\29 + *,
		.\34 u\24\28xxsmall\29 + *,
		.\33 u\24\28xxsmall\29 + *,
		.\32 u\24\28xxsmall\29 + *,
		.\31 u\24\28xxsmall\29 + * {
			clear: left;
		}

		.\-11u\28xxsmall\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28xxsmall\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28xxsmall\29 {
			margin-left: 75%;
		}

		.\-8u\28xxsmall\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28xxsmall\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28xxsmall\29 {
			margin-left: 50%;
		}

		.\-5u\28xxsmall\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28xxsmall\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28xxsmall\29 {
			margin-left: 25%;
		}

		.\-2u\28xxsmall\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28xxsmall\29 {
			margin-left: 8.33333%;
		}

	}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background: #ffffff;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

	body {
		background-color: #ffffff;
		color: #404040;
	}

	body, input, select, textarea {
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 16pt;
		font-weight: 300;
		line-height: 1.6;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 13pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 360px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

	a {
		-moz-transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
		text-decoration: none;
		border-bottom: dotted 1px;
	}

		a:before {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
		}

		a:hover {
			color: #53bed5 !important;
			border-bottom-color: transparent;
		}

			a:hover:before {
				color: #53bed5 !important;
			}

	strong, b {
		font-weight: 900;
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 1.75em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 900;
		line-height: 1.3;
		margin: 2.1875em 0 0.875em 0;
		text-transform: uppercase;
		letter-spacing: 0.075em;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			border-bottom: 0;
			color: inherit;
			text-decoration: none;
		}

		h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
			margin-top: 0;
		}

	h2 {
		font-size: 1.35em;
	}

	h3 {
		font-size: 1.2em;
	}

	h4 {
		font-size: 1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}

	@media screen and (max-width: 736px) {

		h2 {
			font-size: 1.25em;
		}

		h3 {
			font-size: 1em;
		}

	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	blockquote {
		border-left: solid 4px;
		font-style: italic;
		margin: 0 0 1.75em 0;
		padding: 0.4375em 0 0.4375em 1.75em;
	}

	code {
		border: solid 1px;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 1.75em 0;
	}

		pre code {
			display: block;
			line-height: 1.75;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	hr {
		border: 0;
		border-bottom: solid 1px;
		margin: 1.75em 0;
	}

		hr.major {
			margin: 2.625em 0;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

	input, select, textarea {
		color: #404040;
	}

	a {
		color: #53bed5;
	}

	strong, b {
		color: #404040;
	}

	h1, h2, h3, h4, h5, h6 {
		color: #404040 !important;
	}

	blockquote {
		border-left-color: #dbdbdb;
	}

	code {
		background: rgba(144, 144, 144, 0.075);
		border-color: #dbdbdb;
	}

	hr {
		border-bottom-color: #dbdbdb;
	}

/* Box */

	.box {
		border: solid 1px;
		margin-bottom: 1.75em;
		padding: 1.5em;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

	.box {
		border-color: #dbdbdb;
	}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 0;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-weight: 900;
		height: 3.4375em;
		line-height: 3.4375em;
		padding: 0 2em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
		text-transform: uppercase;
		font-size: 0.8em;
		letter-spacing: 0.075em;
	}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		button.icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			button.icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			display: block;
			margin: 0 0 0.875em 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.8em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		button.big,
		.button.big {
			font-size: 1.35em;
		}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			-moz-pointer-events: none;
			-webkit-pointer-events: none;
			-ms-pointer-events: none;
			pointer-events: none;
			opacity: 0.25;
		}

		@media screen and (max-width: 480px) {

			input[type="submit"],
			input[type="reset"],
			input[type="button"],
			button,
			.button {
				padding: 0;
			}

		}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button {
		line-height: 3.09375em;
	}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		background-color: transparent;
		box-shadow: inset 0 0 0 1px #dbdbdb;
		color: #404040 !important;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background-color: rgba(144, 144, 144, 0.075);
			color: inherit !important;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: rgba(144, 144, 144, 0.2);
		}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		button.special,
		.button.special {
			box-shadow: none;
			background-color: #404040;
			color: #ffffff !important;
		}

			input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			input[type="button"].special:hover,
			button.special:hover,
			.button.special:hover {
				background-color: #4d4d4d;
			}

			input[type="submit"].special:active,
			input[type="reset"].special:active,
			input[type="button"].special:active,
			button.special:active,
			.button.special:active {
				background-color: #333333;
			}

/* Form */

	form {
		margin: 0 0 1.75em 0;
		margin-top: 0;
	}

		form:after {
			content: '';
			display: block;
			clear: both;
			height: 1px;
		}

		form .field {
			position: relative;
			float: left;
			margin: 0 0 1.375em 0;
			vertical-align: top;
			width: 100%;
		}

		form .half {
			width: calc(50% + 0.6875em) !important;
			padding-left: 1.375em;
		}

		form .half.first {
			width: calc(50% - 0.6875em) !important;
			padding-left: 0;
		}

		form :last-child {
			margin-bottom: 0;
		}

		form .half:nth-last-child(2) {
			margin-bottom: 0;
		}

		form .actions {
			position: relative;
			clear: both;
			margin-bottom: 0 !important;
		}

		@media screen and (max-width: 980px) {

			form .half {
				width: 100% !important;
				padding-left: 0;
			}

			form .half.first {
				width: 100% !important;
				padding-left: 0;
			}

			form .half:nth-last-child(2) {
				margin: 0 0 1.1375em 0;
			}

		}

	label {
		display: block;
		font-size: 0.9em;
		font-weight: 900;
		margin: 0 0 0.875em 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		border-radius: 0;
		border: none;
		border: solid 1px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:invalid,
		input[type="password"]:invalid,
		input[type="email"]:invalid,
		select:invalid,
		textarea:invalid {
			box-shadow: none;
		}

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			content: '\f078';
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: 2.75em;
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"] {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;
	}

		input[type="checkbox"] + label,
		input[type="radio"] + label {
			text-decoration: none;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: 300;
			padding-left: 2.4em;
			padding-right: 0.75em;
			position: relative;
		}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			input[type="checkbox"] + label:before,
			input[type="radio"] + label:before {
				border: solid 1px;
				content: '';
				display: inline-block;
				height: 1.65em;
				left: 0;
				line-height: 1.58125em;
				position: absolute;
				text-align: center;
				top: 0;
				width: 1.65em;
			}

		input[type="checkbox"]:checked + label:before,
		input[type="radio"]:checked + label:before {
			content: '\f00c';
		}

	input[type="radio"] + label:before {
		border-radius: 100%;
	}

	::-webkit-input-placeholder {
		opacity: 1.0;
	}

	:-moz-placeholder {
		opacity: 1.0;
	}

	::-moz-placeholder {
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		opacity: 1.0;
	}

	.formerize-placeholder {
		opacity: 1.0;
	}

	label {
		color: #404040;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		background: rgba(144, 144, 144, 0.075);
		border-color: #dbdbdb;
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #53bed5;
			box-shadow: 0 0 0 1px #53bed5;
		}

	.select-wrapper:before {
		color: #dbdbdb;
	}

	input[type="checkbox"] + label,
	input[type="radio"] + label {
		color: #404040;
	}

		input[type="checkbox"] + label:before,
		input[type="radio"] + label:before {
			background: rgba(144, 144, 144, 0.075);
			border-color: #dbdbdb;
		}

	input[type="checkbox"]:checked + label:before,
	input[type="radio"]:checked + label:before {
		background-color: #404040;
		color: #ffffff;
		border-color: #404040;
	}

	input[type="checkbox"]:focus + label:before,
	input[type="radio"]:focus + label:before {
		border-color: #53bed5;
		box-shadow: 0 0 0 1px #53bed5;
	}

	::-webkit-input-placeholder {
		color: #aaaaaa !important;
	}

	:-moz-placeholder {
		color: #aaaaaa !important;
	}

	::-moz-placeholder {
		color: #aaaaaa !important;
	}

	:-ms-input-placeholder {
		color: #aaaaaa !important;
	}

	.formerize-placeholder {
		color: #aaaaaa !important;
	}

/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

/* Image */

	.image {
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			display: block;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			margin: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			margin: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			margin: 0 0 1.75em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 0 0 2.625em 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}

			@media screen and (max-width: 736px) {

				.image.main {
					margin: 0 0 1.75em 0;
				}

			}

/* List */

	ol {
		list-style: decimal;
		margin: 0 0 1.75em 0;
		padding-left: 1.25em;
	}

		ol li {
			padding-left: 0.25em;
		}

	ul {
		list-style: disc;
		margin: 0 0 1.75em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px;
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0 !important;
				}

			ul.icons.style2 li {
				font-size: 1.35em;
				padding: 0 0.5em 0 0;
			}

				ul.icons.style2 li a {
					-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
					-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
					-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
					transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
					display: inline-block;
					border-radius: 100%;
					width: 2.125em;
					height: 2.125em;
					line-height: 2.125em;
					text-align: center;
					background-color: #404040;
					color: #ffffff !important;
				}

					ul.icons.style2 li a:hover {
						background-color: #4d4d4d;
					}

					ul.icons.style2 li a:active {
						background-color: #333333;
					}

					ul.icons.style2 li a:before {
						color: inherit !important;
					}

					ul.icons.style2 li a.fa-twitter {
						background-color: #84dae7;
						color: #ffffff !important;
					}

						ul.icons.style2 li a.fa-twitter:hover {
							background-color: #99e0eb;
						}

						ul.icons.style2 li a.fa-twitter:active {
							background-color: #6fd4e3;
						}

					ul.icons.style2 li a.fa-facebook {
						background-color: #75aae6;
						color: #ffffff !important;
					}

						ul.icons.style2 li a.fa-facebook:hover {
							background-color: #8bb7ea;
						}

						ul.icons.style2 li a.fa-facebook:active {
							background-color: #5f9de2;
						}

					ul.icons.style2 li a.fa-instagram {
						background-color: #84c3e7;
						color: #ffffff !important;
					}

						ul.icons.style2 li a.fa-instagram:hover {
							background-color: #99cdeb;
						}

						ul.icons.style2 li a.fa-instagram:active {
							background-color: #6fb9e3;
						}

					ul.icons.style2 li a.fa-youtube {
						background-color: #e78484;
						color: #ffffff !important;
					}

						ul.icons.style2 li a.fa-youtube:hover {
							background-color: #eb9999;
						}

						ul.icons.style2 li a.fa-youtube:active {
							background-color: #e36f6f;
						}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 0.875em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.4375em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 0.875em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.4375em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -0.875em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 0.875em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 0.875em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.4375em;
					width: calc(100% + 0.4375em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.4375em;
					}

			@media screen and (max-width: 480px) {

				ul.actions {
					margin: 0 0 1.75em 0;
				}

					ul.actions li {
						padding: 0.875em 0 0 0;
						display: block;
						text-align: center;
						width: 100%;
					}

						ul.actions li:first-child {
							padding-top: 0;
						}

						ul.actions li > * {
							width: 100%;
							margin: 0 !important;
						}

							ul.actions li > *.icon:before {
								margin-left: -2em;
							}

					ul.actions.small li {
						padding: 0.4375em 0 0 0;
					}

						ul.actions.small li:first-child {
							padding-top: 0;
						}

			}

		ul.meta {
			cursor: default;
			list-style: none;
			padding: 0;
		}

			ul.meta li {
				display: inline-block;
				font-size: 0.8em;
				font-weight: 900;
				letter-spacing: 0.075em;
				margin: 0 0 0.875em 0;
				text-transform: uppercase;
				border-left: solid 1px;
				padding: 0 0 0 1.25em;
				margin: 0 0 0 1.25em;
				line-height: 1;
			}

				ul.meta li a {
					color: inherit;
					text-decoration: none;
					border-bottom: 0;
					text-decoration: none;
				}

					ul.meta li a:before {
						-moz-osx-font-smoothing: grayscale;
						-webkit-font-smoothing: antialiased;
						font-family: FontAwesome;
						font-style: normal;
						font-weight: normal;
						text-transform: none !important;
					}

					ul.meta li a:before {
						margin-right: 0.65em;
					}

					ul.meta li a.favorites:before {
						content: '\f08a';
					}

					ul.meta li a.comments:before {
						content: '\f0e5';
					}

				ul.meta li:first-child {
					padding-left: 0;
					margin-left: 0;
					border-left: 0;
				}

			h1 + ul.meta, h2 + ul.meta, h3 + ul.meta, h4 + ul.meta, h5 + ul.meta, h6 + ul.meta {
				margin: -0.6125em 0 1.3125em 0;
			}

		ul.pagination {
			display: inline-flex;
			list-style: none;
			padding: 0;
			border: solid 1px;
			margin: 0 auto 1.75em auto;
			cursor: default;
		}

			ul.pagination li {
				padding: 0;
			}

				ul.pagination li a, ul.pagination li span {
					position: relative;
					border-left: solid 1px;
					display: inline-block;
					font-size: 0.8em;
					min-width: 3.78125em;
					height: 3.4375em;
					line-height: 3.4375em;
					text-align: center;
					text-transform: uppercase;
					font-weight: bold;
					letter-spacing: 0.075em;
					text-decoration: none;
					border-bottom: 0;
				}

				ul.pagination li a {
					-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
					-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
					-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
					transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
				}

				ul.pagination li .next, ul.pagination li .previous {
					text-decoration: none;
					padding: 0 2.1875em;
				}

					ul.pagination li .next:before, ul.pagination li .previous:before {
						-moz-osx-font-smoothing: grayscale;
						-webkit-font-smoothing: antialiased;
						font-family: FontAwesome;
						font-style: normal;
						font-weight: normal;
						text-transform: none !important;
					}

					ul.pagination li .next:before, ul.pagination li .previous:before {
						display: inline-block;
						line-height: 3.63945em;
						color: inherit !important;
					}

				ul.pagination li .previous:before {
					content: '\f053';
					margin-right: 0.9375em;
				}

				ul.pagination li .next:before {
					content: '\f054';
					float: right;
					margin-left: 0.9375em;
				}

				ul.pagination li:first-child a {
					border-left: 0;
				}

			@media screen and (max-width: 480px) {

				ul.pagination li .page, ul.pagination li .extra {
					display: none;
				}

			}

	dl {
		margin: 0 0 1.75em 0;
	}

		dl dt {
			display: block;
			font-weight: 900;
			margin: 0 0 0.875em 0;
		}

		dl dd {
			margin-left: 1.75em;
		}

	ul.alt li {
		border-top-color: #dbdbdb;
	}

	ul.icons.style1 li a {
		color: #aaaaaa;
	}

	ul.meta {
		color: #aaaaaa;
	}

		ul.meta li {
			border-left-color: #dbdbdb;
		}

	ul.pagination {
		border-color: #dbdbdb;
	}

		ul.pagination li a, ul.pagination li span {
			border-left-color: #f4f4f4;
		}

		ul.pagination li a {
			color: #404040 !important;
		}

			ul.pagination li a:hover {
				background-color: rgba(144, 144, 144, 0.075);
			}

			ul.pagination li a:active {
				background-color: rgba(144, 144, 144, 0.2);
			}

			ul.pagination li a.active {
				color: #ffffff !important;
				box-shadow: 0 0 0 1px #404040;
				background-color: #404040;
				border-left-color: #404040;
				z-index: 1;
			}

		ul.pagination li span {
			color: #aaaaaa;
		}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

		@media screen and (max-width: 480px) {

			section.special, article.special {
				text-align: left;
			}

		}

	header {
		cursor: default;
	}

		header .category {
			display: block;
			font-size: 0.8em;
			font-weight: 900;
			letter-spacing: 0.075em;
			margin: 0 0 1.64063em 0;
			text-transform: uppercase;
		}

			header .category + h2, header .category + h3, header .category + h4, header .category + h5, header .category + h6 {
				margin-top: 0;
			}

		header.major {
			margin: 0 0 2.625em 0;
			text-align: center;
		}

			header.major h2 {
				font-size: 1.75em;
			}

			header.major > :last-child {
				margin-bottom: 0;
			}

		@media screen and (max-width: 736px) {

			header.major {
				margin: 0 0 1.75em 0;
			}

				header.major h2 {
					font-size: 1.35em;
				}

		}

		@media screen and (max-width: 480px) {

			header.major {
				text-align: left;
			}

		}

	footer.major {
		padding: 2.75em 2.75em 1em 2.75em ;
		text-align: center;
		border-top: solid 1px;
		margin-top: -1px;
	}

	@media screen and (max-width: 980px) {

		footer.major {
			padding: 2.75em 2em 1em 2em ;
		}

	}

	@media screen and (max-width: 736px) {

		footer.major {
			padding: 2em 1em 0.25em 1em ;
		}

	}

	header .category {
		color: #aaaaaa;
	}

	footer.major {
		border-top-color: #dbdbdb;
	}

/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 1.75em 0;
		width: 100%;
	}

		table tbody tr {
			border: solid 1px;
			border-left: 0;
			border-right: 0;
		}

		table td {
			padding: 0.75em 0.75em;
		}

		table th {
			font-size: 0.9em;
			font-weight: 900;
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
		}

		table thead {
			border-bottom: solid 2px;
		}

		table tfoot {
			border-top: solid 2px;
		}

		table.alt {
			border-collapse: separate;
		}

			table.alt tbody tr td {
				border: solid 1px;
				border-left-width: 0;
				border-top-width: 0;
			}

				table.alt tbody tr td:first-child {
					border-left-width: 1px;
				}

			table.alt tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.alt thead {
				border-bottom: 0;
			}

			table.alt tfoot {
				border-top: 0;
			}

	table tbody tr {
		border-color: #dbdbdb;
	}

		table tbody tr:nth-child(2n + 1) {
			background-color: rgba(144, 144, 144, 0.075);
		}

	table th {
		color: #fff;
	}

	table thead {
		border-bottom-color: #dbdbdb;
	}

	table tfoot {
		border-top-color: #dbdbdb;
	}

	table.alt tbody tr td {
		border-color: #dbdbdb;
	}

/* Posts */

	.posts {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

		.posts > article {
			width: 33.33333%;
			border-style: solid;
			border-right-width: 1px;
			border-bottom-width: 1px;
			padding: 2.75em;
		}

			.posts > article .image {
				margin: -1.375em 0 3.125em -1.375em;
				display: block;
				position: relative;
				width: calc(100% + 2.75em);
			}

				.posts > article .image img {
					width: 100%;
				}

			.posts > article > :last-child {
				margin-bottom: 0;
			}

				.posts > article > :last-child > :last-child {
					margin-bottom: 0;
				}

			.posts > article:nth-child(3n) {
				border-right-width: 0;
			}

			.posts > article:nth-last-child(1), .posts > article:nth-last-child(2), .posts > article:nth-last-child(3) {
				border-bottom-width: 0;
			}

		@media screen and (max-width: 1280px) {

			.posts > article {
				width: 50%;
			}

				.posts > article:nth-child(2n) {
					border-right-width: 0;
				}

				.posts > article:nth-child(3n) {
					border-right-width: 1px;
				}

				.posts > article:nth-last-child(3) {
					border-bottom-width: 1px;
				}

		}

		@media screen and (max-width: 980px) {

			.posts > article {
				padding: 2.75em 2em;
			}

				.posts > article .image {
					margin: -1.375em 0 2.4375em -1em;
					width: calc(100% + 2em);
				}

		}

		@media screen and (max-width: 736px) {

			.posts > article {
				padding: 1em 1em 2em 1em;
			}

				.posts > article .image {
					margin: 0 0 1.75em 0;
					width: 100%;
				}

		}

		@media screen and (max-width: 480px) {

			.posts > article {
				width: 100%;
				border-right-width: 0 !important;
			}

				.posts > article:nth-last-child(2) {
					border-bottom-width: 1px;
				}

		}

	.posts > article {
		border-color: #dbdbdb;
	}

/* Header */

	body {
		padding-top: 3.75em;
	}

	#header {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10000;
		background-color: #ffffff;
		height: 3.75em;
		line-height: 3.75em;
		box-shadow: inset 0 -1px 0 0 #dbdbdb;
		overflow: hidden;
	}

		#header .logo {
			background-color: #53bed5;
			color: #ffffff;
			-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
			-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
			-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
			transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
			display: block;
			white-space: nowrap;
		}

			#header .logo input, #header .logo select, #header .logo textarea {
				color: #ffffff;
			}

			#header .logo a {
				color: #ffffff;
			}

			#header .logo strong, #header .logo b {
				color: #ffffff;
			}

			#header .logo h1, #header .logo h2, #header .logo h3, #header .logo h4, #header .logo h5, #header .logo h6 {
				color: #ffffff !important;
			}

			#header .logo blockquote {
				border-left-color: rgba(255, 255, 255, 0.25);
			}

			#header .logo code {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

			#header .logo hr {
				border-bottom-color: rgba(255, 255, 255, 0.25);
			}

			#header .logo:hover {
				background-color: #67c6da;
			}

			#header .logo:active {
				background-color: #3fb6d0;
			}

			#header .logo > :last-child {
				margin-bottom: 0;
			}

			#header .logo .title {
				display: block;
				text-transform: uppercase;
				font-size: 1em;
				border-bottom: 0;
				color: #ffffff !important;
				padding: 0 3em 0 1.5em;
			}

		#header nav {
			-moz-flex: 1;
			-webkit-flex: 1;
			-ms-flex: 1;
			flex: 1;
			padding: 0;
			cursor: default;
		}

			#header nav > ul {
				display: -moz-flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-moz-justify-content: -moz-flex-end;
				-webkit-justify-content: -webkit-flex-end;
				-ms-justify-content: -ms-flex-end;
				justify-content: flex-end;
				list-style: none;
				margin: 0;
				padding: 0;
			}

				#header nav > ul > li {
					border-left: solid 1px #f4f4f4;
					display: block;
					margin: 0;
					padding: 0;
					position: relative;
				}

					#header nav > ul > li > ul {
						display: none;
					}

					#header nav > ul > li > a {
						border-bottom: 0;
						color: #404040;
						display: block;
						font-size: 0.8em;
						font-weight: 900;
						letter-spacing: 0.075em;
						padding: 0 2.0625em;
						text-decoration: none;
						text-transform: uppercase;
					}

						#header nav > ul > li > a.dropdown {
							text-decoration: none;
						}

							#header nav > ul > li > a.dropdown:before {
								-moz-osx-font-smoothing: grayscale;
								-webkit-font-smoothing: antialiased;
								font-family: FontAwesome;
								font-style: normal;
								font-weight: normal;
								text-transform: none !important;
							}

							#header nav > ul > li > a.dropdown:before {
								content: '\f107';
								color: #aaaaaa;
								margin-right: 0.5em;
							}

					#header nav > ul > li.active > a {
						color: #53bed5;
					}

						#header nav > ul > li.active > a:before {
							color: #53bed5;
						}

					#header nav > ul > li:first-child {
						border-left: 0;
					}

		#header .navPanelToggle {
			display: none;
		}

	@media screen and (max-width: 1280px) {

		#header nav {
			display: none;
		}

		#header .navPanelToggle {
			text-decoration: none;
			position: absolute;
			display: block;
			top: 0;
			right: 0;
			height: 100%;
			font-size: 0.8em;
			font-weight: 900;
			letter-spacing: 0.075em;
			text-decoration: none;
			text-transform: uppercase;
			color: #404040;
			padding: 0 2.0625em;
			border: 0;
		}

			#header .navPanelToggle:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#header .navPanelToggle:before {
				content: '\f0c9';
				margin-right: 0.75em;
			}

	}

	@media screen and (max-width: 736px) {

		body {
			padding-top: 2.75em;
		}

		#header {
			height: 2.75em;
			line-height: 2.75em;
		}

			#header .logo .title {
				padding: 0 1.25em;
			}

			#header .navPanelToggle {
				padding: 0 1.5625em;
			}

	}

	@media screen and (max-width: 480px) {

		#header .logo .title .extra {
			display: none;
		}

	}

	.dropotron {
		background: #ffffff;
		box-shadow: 0 0.125em 0.75em 0.125em rgba(0, 0, 0, 0.075);
		list-style: none;
		margin-top: calc(-1em - 1px);
		margin-left: -1px;
		min-width: 13em;
		padding: 1em 0;
		border: solid 1px #dbdbdb;
	}

		.dropotron li {
			padding: 0;
		}

			.dropotron li a {
				-moz-transition: none !important;
				-webkit-transition: none !important;
				-ms-transition: none !important;
				transition: none !important;
				border: 0;
				box-shadow: inset 0 1px 0 0 #f4f4f4;
				color: inherit;
				display: block;
				line-height: 2.5em;
				padding: 0 1.25em;
			}

			.dropotron li:first-child > a {
				box-shadow: none;
			}

			.dropotron li.active > a, .dropotron li:hover > a {
				color: #53bed5 !important;
			}

		.dropotron.level-0 {
			font-size: 0.9em;
			margin-top: 1em;
			margin-left: 0;
		}

			.dropotron.level-0:before {
				-moz-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transform: rotate(45deg);
				background: #fff;
				content: '';
				display: block;
				height: 0.75em;
				position: absolute;
				left: 50%;
				top: -0.375em;
				width: 0.75em;
				margin-left: -0.375em;
				box-shadow: inset 1px 1px 0 0 #dbdbdb;
				box-shadow: -1px -1px 2px 0 #dbdbdb;
			}

/* Banner */

	#banner {
		background-color: #333333;
		color: #ffffff;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

		#banner input, #banner select, #banner textarea {
			color: #ffffff;
		}

		#banner a {
			color: #53bed5;
		}

		#banner strong, #banner b {
			color: #ffffff;
		}

		#banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
			color: #ffffff !important;
		}

		#banner blockquote {
			border-left-color: #ffffff;
		}

		#banner code {
			background: rgba(255, 255, 255, 0.075);
			border-color: #ffffff;
		}

		#banner hr {
			border-bottom-color: #ffffff;
		}

		#banner input[type="submit"],
		#banner input[type="reset"],
		#banner input[type="button"],
		#banner button,
		#banner .button {
			background-color: transparent;
			box-shadow: inset 0 0 0 1px #ffffff;
			color: #ffffff !important;
		}

			#banner input[type="submit"]:hover,
			#banner input[type="reset"]:hover,
			#banner input[type="button"]:hover,
			#banner button:hover,
			#banner .button:hover {
				background-color: rgba(255, 255, 255, 0.075);
				color: inherit !important;
			}

			#banner input[type="submit"]:active,
			#banner input[type="reset"]:active,
			#banner input[type="button"]:active,
			#banner button:active,
			#banner .button:active {
				background-color: rgba(255, 255, 255, 0.2);
			}

			#banner input[type="submit"].special,
			#banner input[type="reset"].special,
			#banner input[type="button"].special,
			#banner button.special,
			#banner .button.special {
				box-shadow: none;
				background-color: #ffffff;
				color: #333333 !important;
			}

				#banner input[type="submit"].special:hover,
				#banner input[type="reset"].special:hover,
				#banner input[type="button"].special:hover,
				#banner button.special:hover,
				#banner .button.special:hover {
					background-color: white;
				}

				#banner input[type="submit"].special:active,
				#banner input[type="reset"].special:active,
				#banner input[type="button"].special:active,
				#banner button.special:active,
				#banner .button.special:active {
					background-color: #f2f2f2;
				}

		#banner > article {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-align-items: center;
			-webkit-align-items: center;
			-ms-align-items: center;
			align-items: center;
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			padding: 8em 4em 6.25em 4em ;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			overflow: hidden;
			position: relative;
			cursor: default;
		}

			#banner > article:before {
				-moz-transition: opacity 2.25s ease;
				-webkit-transition: opacity 2.25s ease;
				-ms-transition: opacity 2.25s ease;
				transition: opacity 2.25s ease;
				content: '';
				background-color: #333333;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0.25;
			}

			#banner > article:nth-child(1):before {
				-moz-transition-delay: 0s;
				-webkit-transition-delay: 0s;
				-ms-transition-delay: 0s;
				transition-delay: 0s;
				background-color: #333333;
			}

			#banner > article:nth-child(2):before {
				-moz-transition-delay: 0.375s;
				-webkit-transition-delay: 0.375s;
				-ms-transition-delay: 0.375s;
				transition-delay: 0.375s;
				background-color: #303030;
			}

			#banner > article:nth-child(3):before {
				-moz-transition-delay: 0.75s;
				-webkit-transition-delay: 0.75s;
				-ms-transition-delay: 0.75s;
				transition-delay: 0.75s;
				background-color: #2e2e2e;
			}

			#banner > article:nth-child(4):before {
				-moz-transition-delay: 1.125s;
				-webkit-transition-delay: 1.125s;
				-ms-transition-delay: 1.125s;
				transition-delay: 1.125s;
				background-color: #2b2b2b;
			}

			#banner > article:nth-child(5):before {
				-moz-transition-delay: 1.5s;
				-webkit-transition-delay: 1.5s;
				-ms-transition-delay: 1.5s;
				transition-delay: 1.5s;
				background-color: #292929;
			}

			#banner > article:nth-child(6):before {
				-moz-transition-delay: 1.875s;
				-webkit-transition-delay: 1.875s;
				-ms-transition-delay: 1.875s;
				transition-delay: 1.875s;
				background-color: #262626;
			}

			#banner > article:nth-child(7):before {
				-moz-transition-delay: 2.25s;
				-webkit-transition-delay: 2.25s;
				-ms-transition-delay: 2.25s;
				transition-delay: 2.25s;
				background-color: #242424;
			}

			#banner > article:nth-child(8):before {
				-moz-transition-delay: 2.625s;
				-webkit-transition-delay: 2.625s;
				-ms-transition-delay: 2.625s;
				transition-delay: 2.625s;
				background-color: #212121;
			}

			#banner > article:nth-child(9):before {
				-moz-transition-delay: 3s;
				-webkit-transition-delay: 3s;
				-ms-transition-delay: 3s;
				transition-delay: 3s;
				background-color: #1f1f1f;
			}

			#banner > article:nth-child(10):before {
				-moz-transition-delay: 3.375s;
				-webkit-transition-delay: 3.375s;
				-ms-transition-delay: 3.375s;
				transition-delay: 3.375s;
				background-color: #1c1c1c;
			}

			#banner > article > img {
				display: none;
			}

			#banner > article .content {
				max-width: 80%;
				text-align: center;
				position: relative;
				z-index: 1;
			}

			#banner > article h1, #banner > article h2, #banner > article h3 {
				margin: 0 0 0.4375em 0;
			}

				#banner > article h1 a, #banner > article h2 a, #banner > article h3 a {
					color: #ffffff !important;
				}

			#banner > article.full {
				min-height: 65vh;
				width: 100%;
			}

				#banner > article.full h2 {
					font-size: 2.25em;
				}

				#banner > article.full .content {
					width: 35em;
				}

				@media screen and (max-width: 1680px) {

					#banner > article.full {
						min-height: 70vh;
					}

						#banner > article.full h2 {
							font-size: 1.75em;
						}

				}

				@media screen and (max-width: 736px) {

					#banner > article.full h2 {
						font-size: 1.5em;
					}

				}

			#banner > article.half {
				min-height: 50vh;
				width: 50%;
			}

				#banner > article.half h2 {
					font-size: 1.75em;
				}

				#banner > article.half .content {
					width: 25em;
				}

				@media screen and (max-width: 1680px) {

					#banner > article.half h2 {
						font-size: 1.35em;
					}

				}

				@media screen and (max-width: 736px) {

					#banner > article.half h2 {
						font-size: 1.25em;
					}

				}

		@media screen and (max-width: 980px) {

			#banner > article {
				padding: 6em 2em 4.25em 2em ;
			}

				#banner > article.full {
					min-height: 55vh;
				}

				#banner > article.half {
					min-height: 35vh;
				}

		}

		@media screen and (max-width: 736px) {

			#banner > article {
				padding: 4em 1em 2.25em 1em ;
			}

				#banner > article.full {
					min-height: 0;
				}

				#banner > article.half {
					min-height: 0;
				}

		}

		@media screen and (max-width: 480px) {

			#banner {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}

				#banner > article {
					padding: 4em 2em 2.25em 2em ;
				}

					#banner > article.full {
						width: 100%;
					}

						#banner > article.full .content {
							width: 100%;
							max-width: 100%;
						}

					#banner > article.half {
						width: 100%;
					}

						#banner > article.half .content {
							width: 100%;
							max-width: 100%;
						}

		}

		body.is-loading #banner > article:before {
			opacity: 1;
		}

/* Main */

	#main > .main {
		border-bottom: solid 1px #dbdbdb;
	}

		#main > .main > .inner {
			padding: 5em 2.75em 3.25em 2.75em ;
			max-width: 72em;
			width: 100%;
			margin: 0 auto;
		}

	@media screen and (max-width: 980px) {

		#main > .main > .inner {
			padding: 4em 2em 2.25em 2em ;
		}

	}

	@media screen and (max-width: 736px) {

		#main > .main > .inner {
			padding: 2em 1em 0.25em 1em ;
		}

	}

/* Main */

	#footer > .inner {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		max-width: 72em;
		width: 100%;
		margin: 0 auto;
	}

		#footer > .inner > section {
			padding: 2.75em 2.75em 1em 2.75em ;
			-ms-flex: 1;
			width: 100%;
		}

			#footer > .inner > section:nth-child(2n - 1) {
				border-right: solid 1px #dbdbdb;
			}

	#footer > .copyright {
		border-top: solid 1px #dbdbdb;
		padding: 2.75em 2.75em 5.5em 2.75em;
		text-align: center;
	}

		#footer > .copyright > :last-child {
			margin-bottom: 0;
		}

		#footer > .copyright p {
			color: #006;
			font-size: 0.8em;
		}

	@media screen and (max-width: 980px) {

		#footer > .inner > section {
			padding: 2.75em 2em 1em 2em ;
		}

		#footer > .copyright {
			padding: 2.75em 2em 5.5em 2em;
		}

	}

	@media screen and (max-width: 736px) {

		#footer > .inner > section {
			padding: 2em 1em 0.25em 1em ;
		}

		#footer > .copyright {
			padding: 2em 1em;
		}

	}

	@media screen and (max-width: 480px) {

		#footer > .inner {
			padding: 2em 1em 0.25em 1em ;
			display: block;
		}

			#footer > .inner > section {
				padding: 0;
				border-left: 0 !important;
			}

	}

/* Nav */

	#wrapper:before {
		-moz-transition: opacity 0.5s ease, visibility 0.5s;
		-webkit-transition: opacity 0.5s ease, visibility 0.5s;
		-ms-transition: opacity 0.5s ease, visibility 0.5s;
		transition: opacity 0.5s ease, visibility 0.5s;
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		background: #404040;
		z-index: 10001;
		opacity: 0;
		visibility: hidden;
	}

	#navPanel {
		-moz-transform: translateX(22em);
		-webkit-transform: translateX(22em);
		-ms-transform: translateX(22em);
		transform: translateX(22em);
		-moz-transition: -moz-transform 0.5s ease, visibility 0.5s;
		-webkit-transition: -webkit-transform 0.5s ease, visibility 0.5s;
		-ms-transition: -ms-transform 0.5s ease, visibility 0.5s;
		transition: transform 0.5s ease, visibility 0.5s;
		-webkit-overflow-scrolling: touch;
		background: #ffffff;
		color: #404040;
		height: 100%;
		max-width: 80%;
		overflow-y: auto;
		padding: 2.75em;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		width: 22em;
		z-index: 10002;
	}

		#navPanel .link {
			border: 0;
			border-top: solid 1px #f4f4f4;
			color: inherit !important;
			display: block;
			font-size: 0.9em;
			padding: 0.75em 0;
		}

			#navPanel .link:first-child {
				border-top: 0;
			}

			#navPanel .link.depth-0 {
				color: inherit !important;
			}

			#navPanel .link .indent-1 {
				display: inline-block;
				width: 1.25em;
			}

			#navPanel .link .indent-2 {
				display: inline-block;
				width: 2.5em;
			}

			#navPanel .link .indent-3 {
				display: inline-block;
				width: 3.75em;
			}

			#navPanel .link .indent-4 {
				display: inline-block;
				width: 5em;
			}

			#navPanel .link .indent-5 {
				display: inline-block;
				width: 6.25em;
			}

		#navPanel .close {
			text-decoration: none;
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			-webkit-tap-highlight-color: transparent;
			border: 0;
			color: #aaaaaa;
			cursor: pointer;
			display: block;
			height: 3.25em;
			line-height: 3.25em;
			padding-right: 1.25em;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0;
			vertical-align: middle;
			width: 7em;
		}

			#navPanel .close:before {
				content: "";
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#navPanel .close:before {
				font-size: 1.25em;
			}

			#navPanel .close:hover {
				color: #ffffff;
			}

			@media screen and (max-width: 736px) {

				#navPanel .close {
					height: 4em;
					line-height: 4em;
				}

			}

		@media screen and (max-width: 980px) {

			#navPanel {
				padding: 2.75em 2em;
			}

		}

		@media screen and (max-width: 980px) {

			#navPanel {
				padding: 2em 2em;
			}

		}

	body.is-menu-visible #wrapper:before {
		-moz-pointer-events: auto;
		-webkit-pointer-events: auto;
		-ms-pointer-events: auto;
		pointer-events: auto;
		opacity: 0.75;
		visibility: visible;
	}

	body.is-menu-visible #navPanel {
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
		visibility: visible;
	}
	
/* ELDYK  */

.table_tav {
	color:#FFF !important; 
	font-weight:600;
	width:100%;
}
